body {
    background-color: #bdbdbd;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
#check1 {
    width: 50;
    display: none;
    padding: 45px;
}

#check2 {
    width: 50;
    display: none;
    padding: 45px;
}

#check3 {
    width: 50;
    display: none;
    padding: 45px;
}

#check4 {
    width: 50;
    display: none;
    padding: 45px;
}

#check5 {
    width: 50;
    display: none;
    padding: 45px;
}