body {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: rgb(165, 29, 29)
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(165, 29, 29)
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(165, 29, 29)
}

aside {
    width: 50%;
    float: right;
}    

#olist {
    width: 20%;
    margin-left: 50px;
    margin-top: 30px;
    padding: 15px;
    border-width: 5px;
    border-style: groove;
    border-color: rgb(165, 29, 29);
}

#ulist {
    width: 40%;
    margin-left: 200px;
    padding: 15px;
    border-width: 5px;
    border-style: groove;
    border-color: rgb(165, 29, 29);
}

#link {
    width: 40%;
    margin-top: 25px;
    margin-left: 200px;
    padding: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
}


#check1 {
    width: 10%;
    display: none;
    padding: 2%;
}

#check2 {
    width: 10%;
    display: none;
    padding: 2%;
}

#check3 {
    width: 10%;
    display: none;
    padding: 2%;
}

#check4 {
    width: 10%;
    display: none;
    padding: 2%;
}

#check5 {
    width: 10%;
    display: none;
    padding: 2%;
} 

#check6 {
    width: 10%;
    display: none;
    padding: 2%;
}

#check7 {
    width: 10%;
    display: none;
    padding: 2%;
}

.list {
    margin-left: 50px;
}

